.App {
    background-image: url('https://images7.alphacoders.com/132/1326364.png');
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    height: '100%';
}

.footer {
    background-color: black;
    width: 2px;
}